/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* mon code */

body {
  max-width: 428px;
  margin: auto;
  background: gray;
  text-align: center;
}

/* ******************************************* */

header {
  background: #d7a1fd;
  padding: 20px;
}

nav {
  background: black;
  color: white;
  padding: 20px;
  text-transform: uppercase;
  /* flexbox menu */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* ******************************************* */

a {
  text-decoration: none;
}

h1,
h4 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}
h4 {
  margin: 20px;
}

h1 {
  font-size: 50px;
}

strong {
  font-family: "Noto Serif", serif;
  font-weight: 300;
}

h2 {
  color: white;
  font-size: 20px;
}

h2,
h3,
nav,
p {
  font-family: "Noto Serif", serif;
  font-weight: 300;
}

h3 {
  padding: 60px 20px 30px 20px;
  font-size: 50px;
  text-transform: uppercase;
}

main {
  background: #f4ede8;
  padding-bottom: 50px;
}

.bloc-annonce {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin: 15px;
}

.bloc-haut {
  border: 1px solid black;
  margin: 5px;
}

hr {
  height: 7px;
  background-color: #d7a1fd;
  border: none;
}

.titre-bloc {
  padding: 20px;
  text-align: center;
}

.t-annonce {
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
  padding: 0;
}

.p-annonce {
  font-size: 15px;
  text-transform: uppercase;
  padding: 14px 0 0 0;
}

.bloc-bas {
  border-radius: 20px;
  background: #fff;
  margin: 5px;
  width: 189px;
}

.bloc-bas p {
  padding: 20px;
}

.bloc-bas img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.bouton {
  background: #000;
  color: #d7a1fd;
  margin: 30px 97px 60px 97px;
  width: 234px;
  height: 55px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}

.annonce {
  background: #98fb00;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  padding: 20px;
}

.annonce2 {
  background: #98fb00;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  width: 214px;
  height: 112px;
}

.ann-rose {
  background: #d7a1fd;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  padding: 20px;
  margin: 60px 0 0 0;
  font-size: 45px;
  text-transform: uppercase;
}

.t-a {
  padding: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  text-align: left;
  font-size: 18px;
  text-transform: uppercase;
  font-style: italic;
}

em {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

footer {
  background: black;
  color: white;
  padding: 20px 20px 112px 20px;
}

.titre {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding-top: 20px;
}

h5 {
  color: #313131;
  font-size: 45px;
}

.mail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.align {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banniere {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
